.hidden-menu {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translate(0%, 0%);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.nav-movie__menu_adapt {
    width: 68%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu__close {
    height: 33px;
    width: 33px;
    background-image: url(../../images/closemenu.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 22.44px;
    top: 22.44px;
    cursor: pointer;
}

.nav-menu__close:hover {
    opacity: 0.8;
}

.nav-movie__movie_adapt {
    margin-top: 159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.nav-movie__link-adapt {
    text-decoration: none;
    color: black;
    margin: 0 auto 18px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
}

.active-adapt {
    border-bottom: 2px solid #000;
}

.nav-movie__link-adapt_profile {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    position: absolute;
    bottom: 90px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@media screen and (max-width: 400px) {
    .hidden-menu {
        background: unset;
    }

    .nav-movie__menu_adapt {
        width: 100%;
    }

    .nav-menu__close {
        right: 13.44px;
        top: 13.44px;
    }

    .nav-movie__movie_adapt {
        margin-top: 144px;
    }

    .nav-movie__link-adapt {
        margin-bottom: 15px;
        padding-bottom: 8px;
    }

    .nav-movie__link-adapt_profile {
        bottom: 46px;
    }
}