.search {
  padding: 70px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.search:before {
  position: absolute;
  bottom: 0;
  left: 70px;
  width: 89%;
  border-top: 1px solid #e8e8e8;
  content: '';
}

.search-form {
  height: 72px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 25px;
  box-sizing: border-box;
}

.search-movie {
  margin: 0;
  height: 40px;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.search-form__input {
  height: 100%;
  width: 87%;
  border: none;
  background-color: unset;
  outline: initial;
}

.search-form__input::placeholder {
  background: url(../../images/magnifier.svg) no-repeat;
  padding-left: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__button {
  padding: 0;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.8;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  margin-left: 29px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.checkbox__pseudo {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-image: url('../../images/smalltumboff.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: 12px;
}

.checkbox__pseudo:hover {
  opacity: 0.8;
}

.checkbox:checked+.checkbox__pseudo {
  background-image: url(../../images/smalltumb.svg);
}

.checkbox:checked+.checkbox__pseudo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1170px) {
  .search-movie {
    width: 78%;
  }
}

@media screen and (max-width: 1000px) {
  .search-movie {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .search {
    padding: 80px 30px 109px;
  }

  .search-form {
    padding-right: 20px;
    padding-left: 19px;
  }

  .search-movie {
    width: 72%;
    padding-right: 19px;
    border-right: 1px solid #cbcbcb;
  }

  .search-form__input {
    padding: 0;
  }

  .search-form__input::placeholder {
    padding-left: 45px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    border-bottom: none;
    padding: 79px 10px 10px;
    margin-bottom: 0;
  }

  .search:before {
    display: none;
  }

  .search-form {
    height: 182px;
    flex-direction: column;
    background-color: unset;
    padding: 0;
    border-radius: unset;
    border-bottom: 1px solid #e8e8e8;
  }

  .search-movie {
    border: none;
    background-color: #f9f9f9;
    height: 72px;
    padding-left: 19px;
    width: 100%;
    border-radius: 9px;
  }

  .search-form__input::placeholder {
    background: unset;
    padding-left: 0;
    font-size: 14px;
  }

  .search-form__input {
    width: 80%;
    height: 72px;
  }

  .search-form__button {
    width: 13%;
  }

  .checkbox__label {
    font-size: 11px;
    line-height: 18px;
    margin-left: 2px;
    padding-bottom: 45px;
  }

  .checkbox__pseudo {
    margin-right: 11px;
  }
}