.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s linear 0s;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    width: 430px;
    height: 330px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding-left: 36px;
    padding-right: 36px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(../../images/closemenu.svg);
    background-color: unset;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}

.info__message {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 880px) {
    .popup__container {
        width: 282px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        background-size: contain;
    }
}