.indent {
    height: 230px;
}

@media screen and (max-width: 768px) {
    .indent {
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .indent {
        height: 160px;
    }
}