.techs {
    width: 100%;
    padding: 70px 70px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__title {
    margin: 0;
    margin-top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.content__text {
    margin: 0;
    margin-top: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 460px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs-list {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 690px;
}

.techs-list__item {
    list-style: none;
    width: 90px;
    height: 60px;
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .techs {
        padding: 55px 50px 115px;
    }

    .content__title {
        margin-top: 80px;
    }

    .content__text {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

    .techs-list {
        width: 648px;
        margin: 83px 10px 0;
    }

    .techs-list__item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 670px) {
    .techs {
        padding: 30px 18px 60px;
        background-color: #fff;
    }

    .title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .content__title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .content__text {
        width: 100%;
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
    }

    .techs-list {
        margin-top: 50px;
        flex-wrap: wrap;
        width: 178px;
    }

    .techs-list__item {
        margin-bottom: 10px;
    }
}