.navigation {
    margin-top: 151px;
    margin-bottom: 30px;
}

.navigation__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    width: 308px;
    justify-content: space-between;
}

.navigation__item {
    list-style: none;
    width: 96px;
    height: 36px;
    background-color: #e8e8e8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation__item:hover {
    opacity: 0.8;
}

.navigation__link {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .navigation {
        margin-top: 314px;
    }
}

@media screen and (max-width: 400px) {
    .navigation {
        margin-top: 212px;
        margin-bottom: 17px;
    }

    .navigation__list {
        width: 258px;
    }

    .navigation__item {
        width: 82px;
        height: 26px;
    }

    .navigation__link {
        font-size: 10px;
    }
}